.how-it-works__container {
  padding-top: 20px;
  padding-bottom: 50px;
  @media (min-width: $tablet-min-width) {
    padding: 45px 0;

  }
}


.how-it-works__title {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
  margin: 0;
}

.how-it-works__list {
  @include list-zero;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-auto-flow: row;
  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 230px 245px;
    grid-template-rows: 247px 250px;
    column-gap: 182px;
    row-gap: 37px;
    column-gap: 20%;
  }
  @media (min-width: 1440px) {
    grid-template-columns: 245px 245px 245px 245px 249px;
    grid-template-rows: auto;

  }
}

.how-it-works{
  margin: 20px;
  margin-bottom: 50px;
}

.how-it-works__item {
  margin-left: 20px;
  margin-bottom: 20px;

  @media (min-width: 768px) {
    padding: 0;
    padding-left: 0;
    min-height: 280px;
    min-width: 230px;
  }
}

.how-it-works__item:nth-child(1) {
  @media (min-width: 768px) {
  background: url(../../img/1.png);
  background-position: right;
  background-repeat: no-repeat;
  }
}

.how-it-works__item:nth-child(2) {
  @media (min-width: 768px) {
  background: url(../../img/2.png);
  background-position: right;
  background-repeat: no-repeat;
  }
}

.how-it-works__item:nth-child(3) {
  @media (min-width: 768px) {
  background: url(../../img/3.png);
  background-position: right;
  background-repeat: no-repeat;
  }
}

.how-it-works__item:nth-child(4) {
  @media (min-width: 768px) {
  background: url(../../img/4.png);
  background-position: right;
  background-repeat: no-repeat;
  }
}


.how-it-works__wrapper {
  display: flex;
  align-items: center;
  @media (min-width: 768px) {
    display: block;
  }
}


.how-it-works__text {
  position: relative;
  color: #444;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  @media (min-width: 768px) {
    font-size: 16px;
  }
}


.how-it-works__text {
  margin: 0;
}


.how-it-works__icon {
  margin-right: 20px;
  min-width: 60px;
}



.how-it-works__item:nth-child(1) .how-it-works__icon {
  width: 60px;
  height: 60px;
  background: url(../../img/nutritious.svg);
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background: url(../../img/nutririon-tablet.svg);
    margin-bottom: 30px;
  }
}


.how-it-works__item:nth-child(2) .how-it-works__icon {
  content: "";
  width: 60px;
  height: 60px;
  background: url(../../img/powder.svg);
  @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background: url(../../img/powder-tablet.svg);
    margin-bottom: 30px;
  }
}


.how-it-works__item:nth-child(3) .how-it-works__icon {
  content: "";
  width: 60px;
  height: 60px;
  background: url(../../img/functional-mobile.svg);
    @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background: url(../../img/funtional-tablet.svg);
    margin-bottom: 30px;
  }
}


.how-it-works__item:nth-child(4) .how-it-works__icon {
  width: 60px;
  height: 60px;
  background: url(../../img/month.svg);
    @media (min-width: 768px) {
    width: 80px;
    height: 80px;
    background: url(../../img/month-tablet.svg);
    margin-bottom: 30px;
  }
}



