.logo {
  text-decoration: none;
}

.logo__name {
  @include centerer;
  margin: 0;
  color:black;
  @media (min-width: $tablet-min-width) {
    display: none;
  }
}

.logo__image {
  display: block;
  margin-right: 12px;
}

