.logo {
  text-decoration: none;
}

.logo__wrapper {
  display: flex;
}
.logo__name {
  @include centerer;
  margin: 0;
  color:black;
  @media (min-width: 768px) {
    position: initial;
    transform: none;
    align-self: center;
  }
}

.logo__image {
  display: block;
  margin-right: 12px;
}

