.programms{
  margin: 20px;
  margin-top: 5px;
  @media (min-width: $desktop-min-width) {
    margin-top: 0;
  }
}

.programms__container {
  padding: 20px;
  padding-top: 5px;
  @media (min-width: $desktop-min-width) {
    padding-top: 0;
  }

}
.programms__choose-programm {
  width: 272px;
  height: 42px;
  margin: 0 auto;
  display: block;
  color: #fff;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
  background-color: $basic-green;
  border: none;
  font-family: Oswald;
  position: relative;
  z-index: 1;
  padding: 0;
  @media (min-width: $tablet-min-width) {
    margin-bottom: 526px;
    margin-left: 90px;
  }

  @media (min-width: $desktop-min-width) {
    margin-left: 165px;
    margin-top: 0;
    margin-bottom: 260px;
  }

}

.programms__list {
  display: grid;
  gap: 20px;
  @include list-zero;
  display: flex;
  flex-direction: column;
  margin:20px;
  @media (min-width: $desktop-min-width) {
  flex-direction: row;
  }
  }

  .programms__item {
    position: relative;
    background-color: $basic-grey;
    padding: 20px;
    min-width: 280px;
    min-height: 266px;
    @media (min-width: $tablet-min-width){
      padding-right: 316px;
      padding-left:53px;
      padding-top: 77px
    }
    @media (min-width: $desktop-min-width){
      margin-left: 110px;
      padding-top: 77px;
      padding-bottom: 60px;
      padding-left: 52px;
      padding-right: 52px;
      min-width:570px;
      min-height: 372px;

    }
  }
.programms__slim-cat-icon{
  position: absolute;
  top: 47px;
  left: 52px;
  @media only screen and (max-width: $desktop-min-width) and (min-width: $tablet-min-width) {
  width: 200px;
  height: 211px;
  top: 81px;
  right: 62px;
  left: auto;
  }
}
  .programms__title {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
    margin-left: 70px;
    position: relative;
    @media (min-width: $tablet-min-width){
      margin-left: 0px;
      font-size: 36px;
    }
    @media (min-width: $desktop-min-width){
      margin-left: 165px;
    }
  }

  .programms__text{
    font-size: 14px;
    @media (min-width: $desktop-min-width){
    margin-top: 47px;
    }
    @media (min-width:$tablet-min-width){
      min-width:340px;
      margin-bottom: 52px;
    }
  }

  .programms__link {
    color: #000;
    text-decoration: none;
    color: #000;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 57px;
  }

